
.popup {

  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-black;
  height: 100vh;
  z-index: 50000000;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &:target { //pseudo class will aplly to a element when the url changes to having target in it,
    // po kliknieciu w pasku adresowym pojawia sie "popup" i style zostaja zaaplikowane (#popup)
    opacity: 1;
    visibility: visible;

  }

  &:target &__content {

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__content {

    @include absolute-center;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(.5); //popup will have scale effect when open
    opacity: 0;
    transition: all .5s .2s;

    @include respond(tab-port) {
      //display: block;

    }

    @include respond(tab-land) {
      display: block;
      width: 60%;
      overflow: scroll;
      max-height: 60vh;
    }


    @include respond(tab-port) {
     max-height: 80vh;

    }


    @include respond(phone) {
      width: 90%;
      max-height: 70vh;
      overflow: scroll;
    }




  }

  &__left-side {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-land) {
      display: block;
      width: 100%;

    }

    @include respond(tab-port) {

      display: none;

    }

  }
  &__right-side {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(tab-port) {
      width: 100%;
      display: block;
    }

    @include respond(tab-land) {
      display: block;
      margin: auto;
      text-align: center;
    }

  }
  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      display: block;
      width: 50%;
      margin: auto;

    }

    @include respond(tab-land) {
      display: block;
      width: 50%;
      margin: auto;

    }

    &:last-child {

      @include respond(tab-land) {
        display: none;

      }
    }

  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2; //code applied in order to work in mozilla

    column-count: 2; //it creates 2 columns out of this text
    column-gap: 4rem; //by default it has value of 1 em, that is font size of a current element (1.4em=14px)
    column-rule: 1px solid $color-grey-light-2; //line that separates columns
    //-webkit-hyphens: auto; //not working in chrome
    //hyphens: auto;

    @include respond(tab-land) {

      text-align: left;
    }

    @include respond(phone) {

      column-count: unset;
    }


  }

  &__close {
    &:link,
    &:visited {

      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      text-decoration: none;
      display: inline-block;
      font-size: 3rem;
      line-height: 1; // element was moved to much down cause the size of line height, so we decreased it to 1

      &:hover {
        color: $color-primary-light;

      }

    }
  }

}