
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white,.6); // only container will be transparent (60%), not content
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $font-size-default;
  transform: skewX(-12deg);

  @include respond(tab-port){
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone){
    transform: skewX(0);
  }


  //& > * {
  //  transform: skewX(12deg);
  //}

  &-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); //zeby nadac ksztalt musi byc float, i musi miec dimensions,
    //okresla jak content oplywa element.
    clip-path: circle(50% at 50% 50%); //makes a circle from an element
    transform: translateX(-3rem) skewX(12deg); //when element is floating the best way is to use transform instead of margins
    position: relative;

    @include respond(phone){
      transform: translateX(-3rem) skewX(0);
    }

  }

  &-img {
    height: 100%; // it will have height of 15 rem,100% of parent element in this case story-shape element.
    transform:translateX(-4rem) scale(1.4);
    backface-visibility: hidden; // it fixes the shape of element, broken after transormed it
    transition: all .5s
  }
  &-text {
    transform: skewX(12deg);

    @include respond(phone){
      transform:skewX(0);
    }
  }

  &__caption {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  //after hover text on img will be visible

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &-img{

    transform:translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);

  }


}