
.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: $color-white;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $font-size-default;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &-shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%); //zeby nadac ksztalt musi byc float, i musi miec dimensions,
    //okresla jak content oplywa element.
    clip-path: circle(50% at 50% 50%); //makes a circle from an element
    transform: translateX(-3rem) skewX(12deg); //when element is floating the best way is to use transform instead of margins
  }

  &-img {
    height: 100%; // it will have height of 15 rem,100% of parent element in this case story-shape element.

  }
&-text{
  transform: skewX(12deg);
}


}