
/*universal selector doesnt referes to after and before pseudo elements thats why
another selectors have been added
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*wszystkie elementy dziedziczą box-sizing,domyslnie box sizing nie jest dziedziczony*/
}

html {
  font-size: 62.5%;
  /*root ma 62.5% defaultowego fonta czyli 10px*/
}

body {
  box-sizing: border-box;
}