/*universal selector doesnt referes to after and before pseudo elements thats why
another selectors have been added
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*wszystkie elementy dziedziczą box-sizing,domyslnie box sizing nie jest dziedziczony*/
}

html {
  font-size: 62.5%;
  /*root ma 62.5% defaultowego fonta czyli 10px*/


  @include respond(tab-land) { // we want 1 rem=9px so 9px/16 = 52.25% <1200

    font-size: 52.5%;
  }

  @include respond(tab-port) { // we want 1 rem=8px so 8px/16 = 50% <900

    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 30%;
  }


  @include respond(big-desktop) { // 1 rem=12px so 12/16=75%
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}